*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
   margin: 0;
}

.search-bar{
    width: 100%;
    max-width: 250px;
    background-color: rgba(238, 196, 147, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background-color: transparent;
    flex:1;
    border:0;
    outline: none;
    padding: 2px;
    color: rgb(248, 202, 141);
}
::placeholder{
    color: rgb(245, 198, 150);
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    background-color: antiquewhite;
    cursor: pointer;
}
.header{
    display: flex;
justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(248, 236, 222,0.8);
    padding: 10px;
   position: sticky;
   top: 0;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding-left: 45px;
}
.nav-item a{
    text-decoration: none;
    color: rgb(234, 195, 144);
}
.nav-item a:hover{
    color: rgb(233, 176, 102);
}
.tittle{
font-size: 30px;
color: rgb(246, 205, 152);
font-family: 'Moon Dance', cursive;
} 
.login{
    text-decoration: none;
    color: rgb(234, 195, 144);
}
.login:hover{
    color: rgb(233, 176, 102);
}

.center{
    text-align: center;
}
.heading{
    padding: 10px;
    color: rgb(252, 179, 84);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paragraf-2{
    padding: 15px;
    margin: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slider{
	position: relative;
	width: 70%;
	background: #2c3e50; 
    margin: auto;
}
.myslide{
	height: 455px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #f8d272;
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active, .dot:hover{
	border-color: #f8da79; 
}
.article-1{
    margin-top: 45px;
    padding: 20px;
    background-color: rgba(246, 208, 158, 0.5);
 text-align: center;
  }
  .paragraf-3{
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #392e1e;
  }
  .img17{
    width: 100%;
    height: 700px;
    margin-top: 40px;
    opacity: 0.3;
    position: relative;
  }
  .paragraf{
    width: 400px;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6d6142;
  }
  .paragraf-4{
    position: absolute;
    top: 180%;
    left: 10%;
  }
  .heading-2{
    position: absolute;
    top: 165%;
    left: 10%;
    font-family: 'Moon Dance', cursive;
    font-size: 30px;
    color:#f1b35c
  }
  .paragraf-5{
    position: absolute;
    top: 217%;
    left: 10%;
  }
  .paragraf-6{
    position: absolute;
    top: 245%;
    left: 10%;
  }

