*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
   
}

header{
    display: flex;
justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(248, 236, 222,0.8);
    padding: 10px;
   position: sticky;
   top: 0;
}

.footer{
    background-color:rgb(250, 244, 238);
    padding: 70px 0;
    
}

main{
    margin:30px 30px 20% 30px;
    
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #ba8118;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .link{
      text-decoration: none;
      color: red;
      font-size: 17px;
  }
  .first-link{
    color: black;
    font-size: 22px;
    padding-left: 50%;
    position: relative;
    top: 20px;
  }
  .top-links{
      font-size: 30px;
      color: black;
      padding: 30px;
      text-decoration: none;
  }