*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
   
}
.wrapper{
    display: grid;
    grid-template-areas: 
   "h h h h h h h h h h h h"
   "h h h h h h h h h h h h"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "m m m m m m m m m m m m"
   "f f f f f f f f f f f f"
   ;
}
.header{
    display: flex;
justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(248, 236, 222,0.8);
    padding: 10px;
    grid-area: h;
   position: sticky;
   top: 0;
}

main{
  margin: 25px;
    background-color: antiquewhite;
    padding: 20px;
    grid-area: m;
}
#form {
    width: 400px;
    margin: 8vh auto 5vh auto;
    padding: 20px;
    background-color: rgba(242, 205, 161, 0.6);
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 10px -5px 5px rgb(243, 207, 162);
}


#form h1 {
    color: #dd9a1e;
    text-align: center;
}
#form label{
    padding: 5px 0 10px 0;
    font-size: 17px;
    color: #a36b1c;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #f2c485;
    border: none;
    border-radius: 4px;
}
#form button:hover{
    background-color: #d89538; 
}
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
.signup{
    margin: 20% 0 10% 45%;
    padding: 10px 26px 10px 26px;
    text-align: center;
    background-color: #f2c485;
    border: none;
    border-radius: 4px;
   text-decoration: none;
   color: aliceblue;
   font-weight: 500;
}
.signup:hover{
    background-color: #d89538; 
}
