*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
   
}

.search-bar{
    width: 100%;
    max-width: 250px;
    background-color: rgba(238, 196, 147, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background-color: transparent;
    flex:1;
    border:0;
    outline: none;
    padding: 2px;
    color: rgb(248, 202, 141);
}
::placeholder{
    color: rgb(245, 198, 150);
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    background-color: antiquewhite;
    cursor: pointer;
}
.header{
    display: flex;
justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(248, 236, 222,0.8);
    padding: 10px;
    grid-area: h;
   position: sticky;
   top: 0;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding-left: 45px;
}
.nav-item a{
    text-decoration: none;
    color: rgb(234, 195, 144);
}
.nav-item a:hover{
    color: rgb(233, 176, 102);
}
.tittle{
font-size: 30px;
color: rgb(246, 205, 152);
font-family: 'Moon Dance', cursive;
} 
.login{
    text-decoration: none;
    color: rgb(234, 195, 144);
}
.login:hover{
    color: rgb(233, 176, 102);
}